* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body p {
    font-size: 18px;
}

:root {
    --text-font: #ce1212;
    --gray-light: #37373f;
}

/* Google font classes */
.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

/* Google font classes */


.Lunch-font a {
    font-size: 22px;
    color: gray;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.red-font {
    color: var(--text-font);
}

.light-gray {
    color: #989898;
    font-size: 20px;
}

.starter-font {
    font-size: 40px;
    color: var(--text-font);
    font-weight: 600;
}

.menu-box img {
    width: 236px;
    height: 236px;
}

.feedback-start-box {
    width: 100%;
    height: 700%;
    background-color: #eeeeee;
    margin-top: 100px;
}

.feedback-text  {
    padding-top: 70px;
}

.feedback-image img {
    border-radius: 200px;
    border: 5px solid #fff;
    width: 200px;
    height: 200px;
}

.event-section {
    margin-top: 100px;
}

.event-box {
    width: 421px;
    height: 558px;
    background-color: #000;
}

.event-box img {
    opacity: 0.5;
}

.event-img-text {
    position: absolute;
    z-index: 1;
    margin-top: -320px;
}